@using ClappersCars.Models
@model ClappersCars.Models.UserRequestForm


<div class="modal fade" id="userrequestdetails-@Model.UserRequestFormID" tabindex="-1" role="dialog" aria-labelledby="userrequestDetails">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">User Request Details</h4>
            </div>
            <div class="modal-body">
                <div>
                    
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Vehicle.Make)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Vehicle.Make)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Phone)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BestTimeToCall)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BestTimeToCall)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PreferredContactMethod)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PreferredContactMethod)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TimeframeToPurchaseStart)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TimeframeToPurchaseStart)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TimeframeToPurchaseEnd)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TimeframeToPurchaseEnd)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AdditionalInformation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AdditionalInformation)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastContactDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastContactDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.StatusOfRequest)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.StatusOfRequest)
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="modal-footer">
             
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   @Html.ActionLink("Request Edit", "Edit", "UserRequestForms", new {id = Model.VehicleID}, new {@class = "btn btn-default"})
          

            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "UserRequestForms")
</p>
