@model IEnumerable<ClappersCars.Models.UserRequestForm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BestTimeToCall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredContactMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeframeToPurchaseStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeframeToPurchaseEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalInformation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastContactDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusOfRequest)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BestTimeToCall)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredContactMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeframeToPurchaseStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeframeToPurchaseEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalInformation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastContactDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusOfRequest)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserRequestFormID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserRequestFormID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserRequestFormID })
        </td>
    </tr>
}

</table>
