@using ClappersCars.Models
@model IEnumerable<ClappersCars.Models.UserRequestForm>

@{
    ViewBag.Title = "Index";
}

<h2>User Requests</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BestTimeToCall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredContactMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeframeToPurchaseStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeframeToPurchaseEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalInformation)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.LastContactDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusOfRequest)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.BestTimeToCall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredContactMethod)
            </td>
            <td>
                @item.TimeframeToPurchaseStart.ToShortDateString()
            </td>
            <td>
                @item.TimeframeToPurchaseEnd.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInformation)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.LastContactDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusOfRequest)
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#userrequestdetails-@item.UserRequestFormID">
                    <i class=" glyphicon glyphicon-info-sign"></i>
                </button>
                @Html.Partial("UserRequestDetails", item)
                <a class="btn btn-sm glyphicon glyphicon-edit" title="Edit" href="@Url.Action("Edit", new {id = item.UserRequestFormID})"></a>
                <a class="btn btn-sm glyphicon glyphicon-remove-sign" title="Delete" href="@Url.Action("Delete", new {id = item.UserRequestFormID})"></a>
            </td>
        </tr>
    }
</table>